/* src/app/page.module.css */
.main {
  font-family: 'Arial', sans-serif;
  color: #333;
}

.header {
  text-align: center;
  padding: 50px 20px;
  /* background-color: #f5f5f5; */
}

.header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.header p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.pricingSection {
  text-align: center;
  padding: 50px 20px;
}

.pricingSection h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.pricingContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.plan:hover {
  transform: translateY(-10px);
}

.plan h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

.plan p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan ul li {
  font-size: 1em;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.plan ul li:last-child {
  border-bottom: none;
}

.plan button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plan button:hover {
  background-color: #0056b3;
}
